.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    &_title {
        margin: 0 0 30px 0;
        color: $titleColor;
        font-size: 50px;
        text-align: center;
        letter-spacing: 2px;
        user-select: none;
    }

    &__form {
        width: 600px;
        padding: 20px 20px;
        margin: 10px;

    }

    &__city {
        width: 500px;
        display: block;
        padding: 20px;
        text-align: center;
        height: 60px;
        font-size: 20px;
        border-radius: 20px;
        border: none;
        width: 100%;

        &::placeholder {
            color: $weatherFormColor;
        }
    }

    &__info {
        padding: 30px;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 30px;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__temp {
        font-size: 20px;
        display: flex;

        span {
            font-size: 20px;
            margin: 10px 10px;
        }
    }

    &__details {
        p {
            margin: 0 0 5px 0;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}